[package]
name = "hal"
version = "0.5.1"
authors = ["Steven Roose <steven@stevenroose.org>"]
license = "CC0-1.0"
homepage = "https://github.com/stevenroose/hal/"
repository = "https://github.com/stevenroose/hal/"
description = "hal - the Bitcoin companion"
keywords = [ "crypto", "bitcoin" ]
readme = "README.md"

[lib]
name = "hal"
path = "src/lib.rs"

[[bin]]
name = "hal"
path = "src/bin/hal/main.rs"

[dependencies]
clap = "2.32"
log = "0.4.5"
fern = "0.5.6"
chrono = { version = "0.4.6", features = ["serde"] }
rand = "0.4"

byteorder = "1.3.1"
serde = { version = "1.0.84", features = [ "derive" ] }
serde_json = "1.0.34"
serde_yaml = "0.8.8"
base64 = "0.10.1"
hex = "0.3.2"

bitcoin = { version = "0.23", features = [ "use-serde" ] }
secp256k1 = { version = "0.17", features = [ "recovery" ] }
tiny-bip39 = "0.6.2"
lightning-invoice = "0.2.0"

# For external commands
jobserver = "0.1.11"
shell-escape = "0.1.4"
